<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8f56abad-b965-4f55-b377-e36a77e732ae/resourcegroups/ProjectManagerApi20250905141608ResourceGroup/providers/Microsoft.Web/sites/ProjectManagerApi20250905141608</ResourceId>
    <ResourceGroup>ProjectManagerApi20250905141608ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://projectmanagerapi20250905141608-fbceehb0fvd4ewd2.swedencentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>81eb2e73-af45-415f-abfb-0a7fffe1f03c</ProjectGuid>
    <PublishUrl>https://projectmanagerapi20250905141608-fbceehb0fvd4ewd2.scm.swedencentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>